<app-user-toolbar>
    <div class="container">
        <div class="profile-card">
            <div class="profile-header">
                <div class="profile-image"></div>
                <div class="profile-name">{{user_now?.name}}</div>
            </div>
            <div class="profile-details">
                <div class="detail-card">
                    <p class="detail-label">Correo:</p>
                    <p class="detail-value">{{user_now?.email}}</p>
                </div>
                <div class="detail-card">
                    <p class="detail-label">Proyecto desarrollado para el curso de:</p>
                    <p class="detail-value">Finanzas e Ingeniería Económica</p>
                </div>
                <div class="detail-card">
                    <p class="detail-label">Profesor:</p>
                    <p class="detail-value">Gabriel Renato Chicoma Cacho</p>
                </div>
                <div class="detail-card">
                    <p class="detail-label">Sección:</p>
                    <p class="detail-value">SS82</p>
                </div>
            </div>
        </div>
    </div>
</app-user-toolbar>
